@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root, .App {
    display: flex;
}

body {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.App {
    display: flex;
    padding: 20px;
}

h2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 20px;
}

.tile {
    margin: 20px;
    padding: 20px;
    width: 46%;
    background-color: rgb(45, 72, 148);
    color: white;
    border-radius: 6px;
}

@media only screen and (max-width: 1460px) {
    .wrapper {
      flex-direction: column;
    }

    .tile {
        width: 100%;
    }

    .options {
        margin-top: 20px;
        margin-left: 0;
    }

    .App {
        padding: 20px 0;
    }
  }
